<section>
	<a href ng-click="moveTabAddClass()">Add Class</a>
	<div>
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Lớp</th>
					<th colspan="2">Edit or Remove</th>
				</tr>
			</thead>
			<tr ng-repeat="class in ListClass track by $index ">
				<td>{{$index}}</td>
				<td>{{class.prefix}}{{class.name}}</td>
				<td><a ng-href="#editClass/{{class.name}}/{{class.parentID}}/{{$index}}" ng-click="moveTabEditClass(class,$index)">Sua</a></td>
				<td><a  ng-click="deleteClass(class)">Xoa</a></td>
			</tr>
		</table>
		{{ListClass}}
	</div>
</section>